apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: deploy-financeiro
  name: deploy-financeiro
  namespace: financeiro
spec:
  replicas: 10
  selector:
    matchLabels:
      app: deploy-financeiro
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: deploy-financeiro
    spec:
      containers:
      - image: nginx:stable-alpine
        name: financeiro
        resources:
          limits:
            cpu: 1
            memory: 128Mi
          requests:
            cpu: 1
            memory: 64Mi
