apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-deploy
  name: nginx-deploy
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx-deploy
  strategy: 
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 2
  template:
    metadata:
      labels:
        app: nginx-deploy
    spec:
      containers:
      - image: nginx:stable-alpine
        name: nginx
        resources: 
          limits:
            cpu: 1
            memory: 128Mi
          requests:
            cpu: 1
            memory: 64Mi
        ports:
        - containerPort: 80
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 30   # inicia o teste após 30s
          timeoutSeconds: 5         # aguarda até 5s por tentativa
          failureThreshold: 2       # limite de 2 falhas
          periodSeconds: 60         # testa a cada 60s
        readinessProbe:             # se falhar a conexão é interrompida
          exec:
            command:
              - sh
              - -c
              - |
                pidof nginx > /dev/null && \
                curl -sf --user "kube.probe" -IH "User-Agent: ReadinessProbe - ${HOSTNAME}" http://localhost > /dev/null
          initialDelaySeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 2
          periodSeconds: 25
        startupProbe:               # executado somente na inicialização
          tcpSocket:      
            port: 80
          initialDelaySeconds: 10
          timeoutSeconds: 5
          failureThreshold: 2

